:root{
  /* fonts */
--main-font: 'Roboto', sans-serif;
--font-size: 14px;
--line-height:24px;
--secondary-font: 'Raleway', sans-serif;

  /* text colors */
--main-txt-cl: #212121;
--sec-txt-cl: #757575;
--accent-txt-cl: #2196f3;

/* bg colors */
--darc-bg-color: #2f303a;
--light-bg-color: #f5f4fa;

/* others */
}

/*reset styles */
.link {
  text-decoration: none;
  color: currentColor
}
.list {
  list-style: none;
}

/*body section*/
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

/*header section*/
.nav-item-webstudio {
font-family: var(--secondary-font);
color: #2196F3
font-weight: 700;
font-size: 26px;
line-height: 31px;
}

.header{
background-color: var(--light-gray-backg);
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3
  text-decoration: none;
}
.logo-accent {
  color: #212121
}

.header-link,
.header-phone,
.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/12);
  letter-spacing: 0.02em;
  color: #212121
}
.header-link:hover,
.header-link:focus,
.header-phone:hover,
.heder-phone:focus {
  color: var(--accent-txt-cl);
}
.header-link-current {
  color: var(--accent-txt-cl);
}

/*hero section*/














/*footer */
.footer {
  background-color: var(--background-dark-grey);
}

.footer:hover,
.footer:focus {
  color: var(--white-color);
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}
.logo-accent {
  color: color: #212121
}
.address {
  font-style: inherit;
}
.address-link {
  color: var(--white-color);
}
.phone-footer:hover,
.phone-number-footer:focus {
  color: var(--hero-txt-cl)
}
