:root{
  /* fonts */
--main-font: 'Roboto', sans-serif;
--font-size: 14px;
--line-height:24px;
--secondary-font: 'Raleway', sans-serif;

  /* text colors */
--main-txt-cl: #212121;
--sec-txt-cl: #757575;
--accent-txt-cl: #2196f3;

/* bg colors */
--darc-bg-color: #2f303a;
--light-bg-color: #f5f4fa;

/* others */
}

/*reset styles */
.link {
  text-decoration: none;
  color: currentColor
}
.list {
  list-style: none;
}



/*body section*/
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

/* base styles */
.address {
  font-style: inherit;
}
.address-link {
  color: var(--white-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--header-primary-color);
}

.logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

/* base styles*/

.uppertitle-mode-light {
  color: #212121;
}
.uppertitle-mode-dark {
  color:rgba(255, 255, 255, 0.6)
}

.main-title {
font-family: var(--secondary-font);
font-size: 44px;
line-height: calc(16/12);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.main-title {
font-family: var(--secondary-font);
font-size: 36px;
line-height: calc(42/36);
letter-spacing: 0.03em;
}

.section-title-mode-light {
  color: #212121;
}

.section-title-mode-dark {
  color: #FFFFFF;
}

.btn,
.portfolio-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(16/12);
    display: flex;
    letter-spacing: 0.06em;
    color: #2196F3
    cursor: pointer;
    background-color: #2196f3
    border: none
}
.btn:hover,
.btn.focus {
  color: var(--accent-txt-cl--);
  background-color: var(--accent-txt-cl);
}

.btn-mode-light {
  color: var(--main-txt-cl)
}
.btn-mode-dark {
  color: var(--btn-txt-cl)
}

/*header section*/
.nav-item-webstudio,
.header-phone {
font-family: var(--secondary-font);
color: #2196F3;
font-weight: 700;
font-size: 26px;
line-height: 31px;
}

.header{
background-color: var(--light-gray-backg);
}
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}
.logo-accent {
  color: #212121
}

.header-link,
.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em;
  color: #212121
}
.header-link:hover,
.header-link:focus,
.header-phone:hover,
.heder-phone:focus {
  color: var(--accent-txt-cl);
}
.header-link-current {
  color: var(--accent-txt-cl);
}

/*hero section*/
.hero {
background-color: var(--light-gray-backg);
}
.hero-link {
font-weight: 400;
font-size: 14px;
line-height: calc(16/12);
letter-spacing: 0.03em;
color: #757575
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-txt-cl);
}

/*about section*/

.about-link {
font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: #757575
}

.about-link {
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
color: #212121
}

.team-link{
font-weight: 400;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
color: #757575
}

/*footer */
.footer {
  background-color: var(--darc-bg-color);
}

.logo-footer-style{
  color:var(--hero-txt-cl);
}

.footer-list {
font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
}
.address-link {
  color: var(--hero-txt-cl)
}
.footer-email,
.footer-phone{
  color: rgba(255, 255, 255, 0.6);
}
.footer-emailr:hover,
.footer-phone:hover{
  color: var(--hero-txt-cl)
}

.footer-email:focus,
.footer-phone:focus{
  color: var(--hero-txt-cl)
}
